<body>
  <section class="header align-center">
    <h1 class="titulo">Quantidade de Tarefas</h1>
    <h3 class="texto">O tempo total necessário para realizar as tarefas é de: {{this.tempoTotal}} minutos</h3>
  </section>
  <mat-card class="margem">
    <mat-card-content class="fundo">
      <section
        *ngFor="let task of tasks; let i = index"
      >
        <mat-checkbox [(ngModel)]="task.checked" (change)="teste($event, task)" class="lista">
          {{task.name}}
        </mat-checkbox>
      </section>
    </mat-card-content>
  </mat-card>

</body> 
