<body>
    <div class="header align-center">
        <img class="image_border2" src="../assets/logo.png" style="height: 5.6%;" style="width: 5.6%;">
        <h1 class="titulo">Tasker - aplicativo de organização de tempo</h1>
    </div>

    <div class="main">
        <div class="button_conf">
            <p class="texto_conf">Esta aplicação foi desenvolvida com o objetivo de gerenciar o tempo que o usuário precisa destinar para realizar todas as tarefas que selecionar.</p>
            <p class="texto_conf2">Ao clicar no botão, você será enviado para a lista de leseção de tarefas!</p>
            <button routerLink="/teste" class="continue-btn">Continuar</button>
        </div>
        <div class="image_conf">
            <img class="image_border" src="../assets/Tarefas_1.svg" style="height: 60%;" style="width: 60%;">  
        </div>
    </div>
</body>